@model TedarikZinciriOtomasyonu.VarlikKatmani.firma

@{
    ViewBag.Title = "Firma Sil";
}

<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-users"></i>
    </div>
    <div class="header-title">
        <h1>Firmalar</h1>
        <small>Firma Sil</small>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn-group" id="buttonlist">
                        <a class="btn btn-add " href="~/Degerler/Firmalar">
                            <i class="fa fa-list"></i>  Firma Listesi
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirmaAdi)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirmaAdi)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirmaAciklama)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirmaAciklama)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Sil" class="btn btn-default" /> |
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
