@model List<TedarikZinciriOtomasyonu.VarlikKatmani.kisi>
@{
    ViewBag.Title = "Kişiler";
}

<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-group"></i>
    </div>
    <div class="header-title">
        <h1>Panel</h1>
        <small>Kişiler</small>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn-group buttonexport">
                        <a href="#">
                            <h4>Kişi Detayları</h4>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="btn-group">
                        <div class="buttonexport" id="buttonlist">
                            <a class="btn btn-add" href="~/Degerler/KisiEkle">
                                <i class="fa fa-plus"></i> Kişi Ekle
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>TCKNO</th>
                                    <th>Yetkisi</th>
                                    <th>Ad Soyad</th>
                                    <th>Telefon No.</th>
                                    <th>Etkin</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in Model)
                                {
                                    <tr>
                                        <td>@items.TCKNO</td>
                                        <td>@items.yetki.YetkiAdi</td>
                                        <td>@(items.Ad + " " + items.Soyad)</td>
                                        <td>@items.Telefon</td>
                                        <td>@(items.Etkin ? "Evet" : "Hayır")</td>
                                        <td>
                                            <a class="btn btn-add btn-sm" href="~/Degerler/KisiDuzenle/@items.KisiID"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-sm" href="~/Degerler/KisiSil/@items.KisiID"><i class="fa fa-trash-o"></i> </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
